:root {
  --primary-bg-color: #474d4f;
  --primary-text-color: #bec1c4;
  --hover-bg-color: #cad5dc;
  --hover-text-color: #444F51;
}

.navbar {
  background-color: var(--primary-bg-color);
  width: 100%;
  height: 50px;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: right;
  margin-right: 10px;
  margin-left: auto;
}

.navbar h1 {
  margin-left: 20px;
}

.navbar ul li {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 70px;
  text-decoration: none;
  color: var(--primary-text-color);
}

.navbar ul li:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
  cursor: pointer;
  text-decoration: none;
}

.routeLink {
  text-decoration: none;
  color: inherit;
}
